* {
    margin: 0;
}

* {
      outline: 1px solid red;
      font-family: Arial;
}

.wrapper{
    width: 972px;
    background: #fff;
    border: 1px solid #dddddd;
    margin: 61px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin: 20px 0 0 10px;
}

.header__heading{
    font: 40px "Oleo Script";
    color: #222222;
}

.header__description{
    font: 11px Arial;
    color: #999999;
}

.header__menu:after{
    content: '';
    clear: both;
}

.header__ul, .podmenu{
    -webkit-padding-start: 0;
}

.header__item{
    display: inline-block;
    margin-left: 20px;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 8px 0;
}

.header__item:first-child{
    margin-left: 0;
}

.header__link{
    padding: 8px;
    font: 14px "Oxygen";
    text-decoration: none;
    color: #666666;
}

.header__link:hover{
    color: #222222;
    background: #f5f5f5;
    border-radius: 3px 3px 3px 3px;
}

.header__link.header__link_special{
    color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0 solid #000000;
    background: rgba(255,198,84,1);
    background: -moz-linear-gradient(top, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,198,84,1)), color-stop(100%, rgba(255,190,68,1)));
    background: -webkit-linear-gradient(top, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    background: -o-linear-gradient(top, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    background: linear-gradient(to bottom, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc654', endColorstr='#ffbe44', GradientType=0 );
    text-shadow: 0 -1px 2px rgba(198, 141, 30, 0.7);
}

.header__item.header__item_podmenu {
    position: relative;
}

.header__item_podmenu:hover>.podmenu{
    top: 32px;
    opacity: 1;
}

.podmenu{
    position: absolute;
    width: 166px;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    background: #ffffff;
    left: -5px;
    top: -9999px;
    opacity: 0;
    transition: 0.5s opacity linear;
}

.podmenu:before{
    content: "";
    background: url("images/podmenu__before.png");
    position: absolute;
    width: 16px;
    height: 6px;
    left: 18px;
    top: -1px;
}

.podmenu:after{
    content: '';
    clear: both;
}

.podmenu_items{
    list-style-type: none;
    padding: 6px 0;
    border-top: 1px solid #e5e5e5;
}

.podmenu_items:first-child{
    border-top: 0;
}

.podmenu_link{
    padding: 6px;
    display: block;
    text-decoration: none;
    font: 12px "Oxygen";
    color: #666666;
    margin: 0 -4px;
}

.podmenu__items_special {
    text-decoration: none;
    font: 12px "Oxygen";
    color: #666666;
    margin: 0 -4px;
    padding: 6px;
}

.podmenu__description{
    font: 10px Arial;
    color: #aaaaaa;
}

.podmenu__link_special {
    display: block;
    font: 12px "Oxygen";
    color: #666666;
    text-decoration: none;
}

.podmenu_link:hover, .podmenu__items_special:hover{
    background: #f3f3f3;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0 solid #000000;
}

.carousel{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.carousel__imagewrapper{
    margin: 33px 70px 55px 56px;
    width: 300px;
    box-shadow: 0 29px 16px -25px rgba(0,0,0,0.45);
}

.carousel__boxforimage{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.25);
}

.carousel__img {
    position: relative;
}

.carousel__img img{
    margin-bottom: -4px;
}

.imagedesc{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.leftarrow, .rightarrow{
    background: url("images/carousel_arrows.png");
    width: 32px;
    height: 49px;
}

.rightarrow{
    background-position: -32px 0;
}

.imagedesc__text{
    flex-grow: 1;
    margin: 0 3px;
    background: rgba(0,0,0,0.5);
    padding: 8px;
    box-sizing: border-box;
}

.imagedesc__text p{
    line-height: 18px;
}

.imagedesk__title{
    color: #f6f6f6;
    font: 13px Arial;
}

.imagedesc__description {
    font: 11px Arial;
    color: #ffc14c;
}

.imagedesc__description_description {
    color: #676767;
}

.carousel__text {
    padding: 50px 70px 0 0;
    text-align: right;
}

.carousel__heading{
    font: 38px "Oxygen";
    color: #515151;
}

.carousel__description {
    font: 14px "Oxygen";
    color: #666666;
    padding-bottom: 12px;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 8px;
}

.button {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 7px;
    display: inline-flex;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(255,198,84,1) 0%, rgba(255,190,68,1) 100%);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.05);
    border: 1px solid #efac3c;
}

.button__section1 {
    flex-grow: 1;
    padding-right: 22px;
    border-right: 1px solid #ffac35;
    text-align: left;
}

.button__section2 {
    width: 32px;
    border-left: 1px solid #ffc65c;
}

.button:hover .button__section2 {
    background: url("images/button_arrow.png") center no-repeat;
}

.button__title {
    color: #ffffff;
    font: 17px Oxygen;
    text-shadow: 0 -1px 2px rgba(198, 141, 30, 0.7);
    text-transform: capitalize;
}

.button__description {
    font: bold 10px Arial;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #d28600;
}